body {
  font-family: 'Times New Roman', Times, serif;
  font-size: 14px;
  width: 1200px;
  margin: 0 auto;
}
header {
}
nav {
  height: 35px;
  background: #e9d9d9;
  height: 35px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  margin: 3px;
}

nav a {
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  display: block;
  float: left;
  width: 180px;
  line-height: 35px;
}

section {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  height: 500px;
}
#left {
  width: 250px;
  height: 1100px;
  background: #ffff url(./image/header.png) no-repeat top center;
  float: left;
}
#left h4 {
  text-align: center;
  margin-top: 10px;
  color: rgb(0, 0, 0);
}
#left a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-weight: bold;
  line-height: 25px;
}
#left ul ul a {
  font-weight: normal;
}
#left a:hover {
  color: rgb(69, 219, 149);
}
#ndung {
  width: 700px;
  height: 1100px;
  background: #5fddd3;
  float: left;
}
#ndung h3 {
  padding-left: 15px;
  color: rgb(255, 255, 255);
}
#ndung #vung3sp {
  width: 200px;
  text-align: center;
  background: rgb(255, 255, 255);
  margin: 0px 10px 10px 15px;
  box-shadow: 10px 10px 3px #999999;
  border-radius: 2px;
  float: left;
}
#ndung #vung3sp img {
  margin-top: 5px;
}
#right {
  text-align: center;
  height: 1100px;
  background: pink;
}
.right div img {
  padding: 10px;
}
footer {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  width: 1200px;
  height: 100px;
  background: #d8da71;
  clear: left;
  text-align: center;
  font-weight: bold;
}
footer p {
  font-size: 15px;
  text-align: center;
  clear: right;
}
